*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header nav{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    /* border: 1px solid rgba(0,0,0,0.5); */
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.logo a img{
    padding-top: 7px;
}

.nav-bar ul li{
    display: inline-block;
}

.nav-bar ul li a{
    color: black;
    margin-right: 45px;
    margin-left: 45px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.3s ease;
}

.nav-bar ul li a:hover{
    border: 1px solid;
}

.change-btn{
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.3s ease;
}

.change-btn:hover{
    border: 1px solid;
}

.form-section{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 60vh;
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
}

.form-container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 20px;
}

.form-container div input{
    width: 20vw;
    height: 3vh;
}

.form-container div input:focus, .message-container textarea:focus{
    outline-style: none;
}

.message-container div{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.message-container textarea{
    width: 26vw;
    height: 15vh;
    padding: 5px;
}

.submit-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.submitbtn{
    background-color: white;
    border: 1px solid black;
    padding: 10px 40px;
    transition: 0.3s ease;
}

#submit:hover{
    cursor: pointer;
    letter-spacing: 3px;
}